<!-- Menu Navigation -->
<div class="menu">
  <button class="menu-toggle" type="button" aria-label="Toggle menu" (click)="toggleMenu()">
    ☰
  </button>
  <ul [class.active]="isMenuOpen">
    <li>
      <a routerLink="/home" routerLinkActive="active">Inicio</a>
    </li>
    <li>
      <a routerLink="/weather" routerLinkActive="active">Weather</a>
    </li>
    <li>
      <app-dark-mode></app-dark-mode>
    </li>
    <li>
      <app-change-lang (languageChange)="onLanguageChange($event)"></app-change-lang>
    </li>
  </ul>
</div>
